<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MySqlConnection" connectionString="Server=localhost;Database=gestor_evento;Uid=root;Pwd=;" />
    </connectionStrings>
    <appSettings>
        <!-- Modo de Impressão: "Local" = impressora conectada nesta máquina | "Remote" = via Print Server API -->
        <add key="PrintMode" value="Local" />
        
        <!-- Tipo de conexão: "COM" (Serial - Epson TM-20, etc) | "USB" (Windows - TOMATE MDK-080, HP, Zebra, etc) -->
        <add key="PrinterType" value="USB" />
        
        <!-- Configurações para modo Remote (Print Server) -->
        <add key="PrintServerIp" value="" />
        <add key="PrintServerPort" value="" />
        
        <!-- Configurações para PrinterType="COM" (impressora serial) -->
        <add key="PrinterPortName" value="COM2" />
        <add key="PrinterBaudRate" value="9600" />
        
        <!-- Configurações para PrinterType="USB" (impressora Windows) -->
        <add key="WindowsPrinterName" value="MDK-080" />
    </appSettings>    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>